body {
	background-color: black;
}

nav {
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: right;
}

.fancy {
	font-size: 25px;
	font-weight: bold;
	height: 25%;
	color: red;	
	font-family: 'Courgette',cursive;
	text-align: right;
}
