h1 {
	text-align: center;
}

#margin-padding-image{
	height: 400px;
	width: 800px;
	align: center;
}
	.margins {
		border: 2px solid blue;
		margin: 75px 75px 75px 75px;
		}

	.margins-padding{
		border: 3px solid purple;
		margin: 50px 50px 50px 50px;
		padding: 25px 25px 25px 50px;
	}

	.margin-experiment{
		height: 40px;
		background-color: lightblue;
		border: 5px solid green;
		margin: 10px 10px 10px 10px;

	}

	#square{
		width: 100px;
		height: 100px;
		border: 2px solid green;
		border-radius: 3px;
		margin: 50px 100px 50px 100px;
		position: absolute;
	}


	#circle{
		width: 100px;
		height: 100px;
		border: 2px solid red;
		border-radius: 60px;
		margin: 20px 20px 30px 20px;
		position: absolute;
	}
